<button
    class="carousel-control-prev bg-danger w-auto"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
    data-cy="prev"
>
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<div id="carouselExample" class="carousel slide" #carouselExample>
    <div class="carousel-inner">
        <div
            class="carousel-item"
            data-cy="pokemon-list"
            *ngFor="let pokemonList of pokemonCarousel; first as isFirst"
            [ngClass]="{ active: isFirst }"
        >
            <div class="row g-1">
                <div class="col-3" *ngFor="let pokemon of pokemonList" data-cy="pokemon-card">
                    <div role="button" class="card h-100" [routerLink]="pokemon.name + '/details'">
                        <div class="card-body">
                            <p class="card-title" data-cy="card-title">
                                {{ pokemon.name }}
                            </p>
                        </div>
                        <img
                            class="card-img-bottom"
                            data-cy="card-image"
                            [src]="pokemon.sprites.other['official-artwork'].front_default"
                            [alt]="pokemon.name"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button
    class="carousel-control-next bg-danger w-auto"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
    [disabled]="nextListIsLoading"
    (click)="loadNextList()"
    data-cy="next"
>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
